<md-fab-speed-dial md-open="isOpen" md-direction="{{fabDirection}}" class="md-scale">
  <md-fab-trigger>
    <md-button ui-sref="home" aria-label="menu" class="md-fab md-primary">
      <md-icon md-font-icon="fa-rocket" class="fa fa-2x"></md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button ui-sref="projects" aria-label="projects" class="md-accent md-fab md-raised md-mini">
      <md-icon md-font-icon="fa-code" class="fa fa-2x"></md-icon>
    </md-button>
    <md-button ui-sref="personal" aria-label="personal" class="md-accent md-fab md-raised md-mini">
      <md-icon md-font-icon="fa-child" class="fa fa-2x"></md-icon>
    </md-button>
    <md-button ui-sref="contact" aria-label="contact" class="md-accent md-fab md-raised md-mini">
      <md-icon md-font-icon="fa-envelope" class="fa fa-2x"></md-icon>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>
