/* Personal Page */

/* .personal-selector {
	height: 220px;
} */

.life-circle-container {
	height: 170px;
}

.life-circle {
	height: 160px;
	width: 160px;
	border-radius: 80px;
	border-color: white;
	border-width: 2px;
	border-style: solid;
	
	text-align: center;
	font-size: 18px;
	color: white;

	cursor: pointer;

	h3 { 
		margin-top: 68px;
	}
}

.life-circle:focus {
	outline:0;
}

.life-circle-container:nth-child(1) .life-circle {
 	background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/modules/core/img/florida.png');
	background-size: 180px 180px;
	background-position: center; 
}

.life-circle-container:nth-child(2) .life-circle {
 	background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/modules/core/img/princeton.png');
	background-size: 180px 180px;
	background-position: center; 
}

.life-circle-container:nth-child(3) .life-circle {
 	background: url('/modules/core/img/newyork.png');
	background-size: 180px 180px;
	background-position: center; 
}

.life-circle-container:nth-child(4) .life-circle {
 	background: url('/modules/core/img/barcelona.png');
	background-size: 180px 180px;
	background-position: center; 
}

.personal-content {
	>div {
		margin-top: 48px;
		width: 80%;
	}

	h2 {
		margin-top: 0;
		margin-bottom: 8px;
	}

	h3 {
		margin-top: 0;
		margin-bottom: 12px;

		font-style: italic;
		color: black;
		color: rgba(0, 0, 0, 0.54);
	}

	h4 {
		margin-top: 0;
		margin-bottom: 8px;
	}

	p {
		margin-top: 0;
		margin-bottom: 14px;
	}
}

@media (max-width: 800px) {

	.life-circle-container {
		height: 65px !important;
	}

	.life-circle {
		border-radius: 0 !important;
		height: 60px !important;
		border-width: 0;
		margin-right: 2px;
		margin-left: 2px;

		h3 { 
			margin-top: 18px !important;
		}
	}

	.personal-content>div {
		width: 95%;
	}
}

/* Projects Page */

.cyan {
	background-color: #26C6DA;
}

.green {
	background-color: #66BB6A;
}

.red {
	background-color: #EF5350;
}

.blue {
	background-color: #42A5F5;
}

.pink {
	background-color: #EC407A;
}

.indigo {
	background-color: #5C6BC0;
}

.dark-blue {
	background-color: #607D8B;
}


md-grid-list {
	max-width: 720px;
}

md-grid-tile {
	background-color: black;
	color: white;
	text-align: center;
	cursor: pointer;

	i {
		margin-top: 20px;
	}
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

md-grid-tile:focus {
	outline:0;
}

md-grid-tile:hover {
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8);
}

/* Project Page Dialogs */

.project-dialog {
	md-toolbar md-icon {
		margin-top: -6px;
	}

	md-list md-icon { 
		margin-top: 24px;
		margin-right: 16px;
		color: black;
		color: rgba(0,0,0,0.54) !important;
	}

	a {
		word-wrap: break-word;
	}
}

@media (max-width: 420px) {
	.project-dialog {
		md-list md-icon {
			display: none;
		}
	}
}

/* Contact Page */

.contact-info {
	.contact-header {
		margin-bottom: 12px;
		text-align: center;
	}

	.contact-subheader {
		margin-bottom: 24px;
		text-align: center;
		font-size: 24px;
		font-style: italic;
	}

	a {
		font-size: 22px;
		word-wrap: break-word;
	}

	md-list-item md-icon {
		margin-bottom: 18px;
		margin-left: 0;
	}

	md-list-item:nth-child(1) md-icon {
		color: #66BB6A !important;
	}

	md-list-item:nth-child(2) md-icon {
		color: #333 !important;
	}

	md-list-item:nth-child(3) md-icon {
		color: #0077B5 !important;
	}
}

@media (max-width: 500px) {
	.contact-info {
		.contact-header {
			font-size: 36px;
			margin-bottom: 0;
		}

		.contact-subheader {
			font-size: 20px;
			margin-bottom: 8px;
		}

		a {
			font-size: 20px;
		}

		md-list-item md-icon {
			margin-right: 18px;
		}
	}
}

