<md-dialog class="project-dialog" aria-label="Project dialog" flex=50 flex-md=66 flex-sm=1>
  <md-toolbar class="indigo">
    <div class="md-toolbar-tools">
      <h2>More Good Stuff!</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeDialog()" aria-label="true">
        <md-icon md-font-icon="fa-close" class="fa fa-2x"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
  	 <md-list>
      <md-list-item class="md-2-line">
        <md-icon md-font-icon="fa-line-chart" class="fa fa-lg"></md-icon>
        <div class="md-list-item-text">
          <h3>Financial Engineering</h3>
          <p>Portfolio risk optimization, Monte Carlo simulation, stress analytics, path-dependent liquidity, bond risk/valuation models </p>
        </div>
      </md-list-item>
      <md-list-item class="md-2-line">
        <md-icon md-font-icon="fa-lightbulb-o" class="fa fa-lg"></md-icon>
        <div class="md-list-item-text">
          <h3>Tutorial Projects</h3>
          <p>Web: Twitter-clone, real time chat, dynamic graphs <br>iOS: Graphing calculator, Tetris, ToDo</p>
        </div>
      </md-list-item>
      <md-list-item class="md-2-line">
        <md-icon md-font-icon="fa-paint-brush" class="fa fa-lg"></md-icon>
        <div class="md-list-item-text">
          <h3>Software proficiency</h3>
          <p>Photoshop, SublimeText, Excel, Powerpoint</p>
        </div>
      </md-list-item>
  </md-dialog-content>
</md-dialog>
