<md-dialog class="project-dialog" aria-label="Project dialog" flex=50 flex-md=66 flex-sm=1>
  <md-toolbar class="dark-blue">
    <div class="md-toolbar-tools">
      <h2>Core Skillset</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeDialog()" aria-label="true">
        <md-icon md-font-icon="fa-close" class="fa fa-2x"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
  	 <md-list>
      <md-list-item class="md-2-line">
        <md-icon md-font-icon="fa-trophy" class="fa fa-lg"></md-icon>
        <div class="md-list-item-text">
          <h3>Expertise</h3>
          <p>MongoDB, Express, Angular, Node, Bootstrap, Material Design, Gulp, Mongoose, Passport, HTML5, CSS3</p>
        </div>
      </md-list-item>
      <md-list-item class="md-2-line">
        <md-icon md-font-icon="fa-paper-plane" class="fa fa-lg"></md-icon>
        <div class="md-list-item-text">
          <h3>Experience</h3>
          <p>Rails, Postgres, RSpec, Socket.io, Elastic Beanstalk, S3, Docker, Heroku</p>
        </div>
      </md-list-item>
      <md-list-item class="md-2-line">
        <md-icon md-font-icon="fa-flask" class="fa fa-lg"></md-icon>
        <div class="md-list-item-text">
          <h3>Exposure</h3>
          <p>D3, Grunt, Mocha, Karma, Protractor, ECMAScript 6, Ionic, iOS (Swift)</p>
        </div>
      </md-list-item>
  </md-dialog-content>
</md-dialog>
