<section data-ng-controller="ContactController">
  <div class="contact-info" layout="row" layout-align="center">
  		<div layout="column" layout-align="start center">
  			<span class="contact-header md-display-3">Get in Touch!</span>
  			<span class="contact-subheader">So many ways...</span>
			<md-list>
				<md-list-item class="md-1-line">
					<md-icon md-font-icon="fa-envelope-o" class="fa fa-2x"></md-icon>
					<div class="md-list-item-text">
						<a href="mailto:sean.emmer@gmail.com">sean.emmer@gmail.com</a>
					</div>
				</md-list-item>
				<md-list-item class="md-1-line">
					<md-icon md-font-icon="fa-github" class="fa fa-2x"></md-icon>
					<div class="md-list-item-text">
						<a href="https://github.com/seanemmer">GitHub</a>
					</div>
				</md-list-item>
				<md-list-item class="md-1-line">
					<md-icon md-font-icon="fa-linkedin-square" class="fa fa-2x"></md-icon>
					<div class="md-list-item-text">
						<a href="sean.emmer@gmail.com">LinkedIn</a>
					</div>
				</md-list-item>
			</md-list>
  		</div>
  </div>
</section>
